body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 96px;
  font-weight: bold;
}

h2 {
  margin-top: 100px;
}

h3 {
  font-size: 28px;
  margin-bottom: 100px;
}

.gallery-heading {
  margin-top: 100px;
}

.contact-heading {
  margin-top: 100px;
}

.last-row {
  margin-bottom: 123px;
}

.container-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

ul {
  list-style: none;
  line-height: 2;
  text-align: center;
  padding-left: 0px;
}

.navbar-nav {
  margin-left: auto;
}

.croissant-link:hover {
  background-color: #212529;
  border-color: #212529;
  color: white;
}

.day-heading {
  font-weight: bold;
  font-size: 19px;
}

.button-link:hover {
  background-color: #ffc107;
  border-color: #ffc107;
  color: black;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem #ffc107;
}

.contact-form-heading {
  margin-bottom: 0;
}

@media (max-width: 576px) {
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 26px;
    margin-bottom: 50px;
  }
  h2 {
    margin-top: 50px;
  }
  .last-row {
    margin-bottom: 50px;
  }
  .gallery-heading {
    margin-top: 50px;
  }
  .contact-heading {
    margin-top: 50px;
  }
}
